<!DOCTYPE html>
<html lang="en" ng-app="firstAngularApp">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AngularJS 1.6.x Tutorial</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body ng-controller="mainCtrl as vm">
  <h1>This sky is {{2>1}}ly blue</h1>
  <p>Hello {{vm.hello}}</p>

  <input type="text" ng-model="vm.hello">

  <h3>List of fruits</h3>
  <p>Search by value:</p>
  <input ng-model="vm.search">
  <ul>
    <li ng-repeat="post in vm.posts | filter: vm.search">
      title: {{post.title}} <br>
      body: {{post.body}}
    </li>
  </ul>
  <button class="btn btn-primary" ng-click="vm.alertMe()" name="button">Alert me</button>


  <!-- Jquery for Bootstrap -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Compiled plugins -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
  <script src="app.js" charset="utf-8"></script>

</body>

</html>
